body {
  font-family: Arial;
  font-size: 12pt;
  color: #666;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

form {
  margin: 0 auto;
  width: 150px;
}

label {
    text-align: left;
}

input[type="text"], input[type="password"] {
  border: 1px solid #aaa;
  margin-bottom: 5px;
  width: 100%;
  clear: both;
}

#control {
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

#control a {
  margin-right: 10px;
}

#submit {
  display: block;
  border: 1px solid #aaa;
  color: #aaa;
  background: #fff;
  padding: 5px;
  width: 90px;
  margin: 10px auto;
}

#submit:hover {
  cursor: pointer;
  border: 1px solid #a00;
  color: #a00;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #aaa;
}

a:hover {
  color: #a00;
}

#nav {
  text-align: right;
}

#nav ul, #nav li {
  list-style: none;
  display: inline-block;
}

#header {
  text-align: center;
}

#content {
  width: 800px;
  margin: 0 auto;
}

#footer {
  text-align: center;
  margin-top: 50px;
}

#error {
    padding: 10px;
    color: #800;
}
