body {
  font-family: Arial;
  font-size: 12pt;
}

#accountForm {
  width: 150px;
  margin: 0 auto;
}

#accountForm label {
}

#accountForm input[type!=submit] {
  border: 1px solid #aaa;
  margin: 5px;
  width: 100%;
  clear: both;
}

#submit {
  margin-top: 5px;
  width: 50px;
}
