body {
  font-family: Arial;
  font-size: 12pt;
  color: #666;
}

#wrapper {
  width: 200px;
  margin: 0 auto;
}

#wrapper form {
  width: 150px;
}

#wrapper label {
}

input[type="text"], input[type="password"] {
  border: 1px solid #aaa;
  margin-bottom: 5px;
  width: 100%;
  clear: both;
}

#control {
  text-align: center;
  width: 400px;
}

#control a {
  margin-right: 10px;
}

#submit {
  border: 1px solid #aaa;
  color: #aaa;
  background: #fff;
  padding: 5px;
  margin-top: 5px;
  margin-right: 20px;
  width: 90px;
}

#submit:hover {
  cursor: pointer;
  border: 1px solid #a00;
  color: #a00;
}



a, a:link, a:visited {
  text-decoration: none;
  color: #aaa;
}

a:hover {
  color: #a00;
}

#nav ul, #nav li {
  list-style: none;
  display: inline-block;
}


